<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mll.springcloud.dao.DetailsDao">

    <select id="DetailsSelectAll" resultType="Details">
        SELECT 	`mp_id`, `mp_name`, `mp_descpiption`, `mp_price`, `mp_stock`, `mpc_id`, `mp_file_name`, `mp_special`FROM `MLL`.`MLL_PRODUCT`
        WHERE mp_id =id
    </select>

</mapper>